jupyter/.DS_Store
jupyter/jupyterNotebooks/.DS_Store
.DS_Store
jupyter/jupyterNotebooks/images/qrcode copy.png
jupyter/jupyterNotebooks/assignments/__pycache__/auto_testing.cpython-314.pyc
jupyter/jupyterNotebooks/assignments/stdout.txt
jupyter/jupyterNotebooks/testnb.ipynb
jupyter/test_ws/testWS.ipynb
jupyter/jupyterNotebooks/__pycache__/my_library.cpython-314.pyc
